
API_URL = 
NODE_ENV = 
PORT = 
FRONTEND_URL = 
SQL_USER = 
SQL_PASSWORD = 
SQL_SERVER = 
SQL_DATABASE = 

SQL_USER_LOCAL = 
SQL_PASSWORD_LOCAL =
SQL_SERVER_LOCAL = 
SQL_DATABASE_LOCAL = 

JWT_SECRET = 

